<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martin.myhelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.VolunteerViewElderlyFeedbackActivity"></activity>
        <activity android:name=".views.ElderlyProvideFeedBackActivity" />
        <activity android:name=".views.ElderlyEditRequestActivity" />
        <activity android:name=".views.ElderlyRequestsActivity" />
        <activity android:name=".views.VolunteerProfilesActivity" />
        <activity android:name=".views.VolunteerNotifyElderlyForServiceActivity" />
        <activity android:name=".views.VolunteerViewElderlyRequestsActivity" />
        <activity
            android:name=".views.VolunteerProfileEditActivity"
            android:label="Edit Profile"
            android:parentActivityName=".views.VolunteerProfilesActivity" />
        <activity android:name=".views.VolunteerProfileCreateActivity" />
        <activity android:name=".views.ElderlyCreateRequestActivity" />
        <activity android:name=".views.ServiceTypeHomeActivity" />
        <activity android:name=".views.ServiceTypeActivity" />
        <activity android:name=".views.PasswordResetActivity" />
        <activity android:name=".views.ProvideFeedbackActivity" />
        <activity android:name=".views.ElderlyViewVolunteerServicesActivity" />
        <activity android:name=".views.VolunteerHomeActivity" />
        <activity android:name=".views.VolunteerRegistrationActivity" />
        <activity android:name=".views.ElderlyHomeActivity" />
        <activity android:name=".views.ElderlyRegistrationActivity" />
        <activity android:name=".views.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>